
body{
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    scroll-behavior: smooth;
}


#head{
    display: flex;
    justify-content: center;
}

#bck-btn{
    position: absolute;
    left:0;
    margin:25px 20px;
}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 2px;
    color:#3e354d;
    text-transform: uppercase;
    text-shadow: -1px 2px 6px rgba(0,0,0,0.6);
}

#bck-btn:hover{
    opacity:0.86 ;

}



#add-opt{
    width:120px;
    height:30px;
    background-color: #3e354d;
    color:white;
    cursor: pointer;
}

#del-opt{
    width:120px;
    height:30px;
    background-color: red;
    color:white;
    cursor: pointer;
}

#btns{
    display: flex;
    padding: 5px;
}

#form-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    padding-top: 50px;
    width:60%;
}

#text-area{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    width:100%;
    text-decoration: none;
    height:42px;
    margin-top: 6px;
    border:1px solid #EEBBC9;
    border-radius: 3px;
    background-color: rgba(62, 53, 77,0.4);
    color:#F8FAF8;
}

#next-btn{
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255,0.7);
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    border-radius: 100px;
    width:160px;
    height:45px;
    color:rgba(62, 53, 77,0.9);
    cursor:pointer;
}

#next-btn:hover{
    background-color: #fff;
    color:#000;
    transition: all 300 ms ease-in-out;
}


#set-Name{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    width:100%;
    text-decoration: none;
    height:42px;
    margin-top: 6px;
    border:1px solid #EEBBC9;
    border-radius: 3px;
    background-color: rgba(62, 53, 77,0.4);
    color:#F8FAF8;
}

#question-count{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    width:100px;
    text-decoration: none;
    height:42px;
    margin-top: 6px;
    border:1px solid #EEBBC9;
    border-radius: 3px;
    background-color: rgba(62, 53, 77,0.4);
    color:#F8FAF8;
}

.quiz-form{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    color:#0d0d0d;

}

input:focus { 
    outline: none !important;
    border-color: #EEBBC9;
    box-shadow: 0 0 10px #EEBBC9;
    background-color: rgba(62, 53, 77,0.4);
}

select:focus{
    outline: none !important;
    border-color: #EEBBC9;
    box-shadow: 0 0 10px #EEBBC9;
    background-color: rgba(62, 53, 77,0.4);
}
textarea:focus { 
    outline: none !important;
    border-color: #EEBBC9;
    box-shadow: 0 0 10px #EEBBC9;
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: rgba(62, 53, 77,0.4) !important;
    
}

#bool{
    margin-left: 10px;
    height:42px;
    width:60px;
    background-color: rgba(62, 53, 77,0.4);
    color:#F8FAF8;
    border-radius: 3px;
    border:1px solid #EEBBC9;
    cursor:pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}


.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #3E354D;
    cursor: pointer;
    margin: 20px;
    margin-left: 0 !important;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn18 {
    background-image: linear-gradient(
      to right,
      #14C1E9,
      #A97EED,
      #E9577E,
      #F64F5A
    );
    box-shadow: 0 4px 15px 0 rgba(62, 53, 77, 0.75);
  }

  #opt-wrap{
    font-size: 16px;
    font-weight: 600;
    width:60%;
  }

  textarea{
    resize: vertical;
  }

  #question-wrapper{
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
    padding: 10px;
  }