<!DOCTYPE html>
<html>

<head>
    <title>Add | CodeNext</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	
	
	<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/signin.css"> 
    

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" type="text/css" href="/css/base.css">
   <link rel="stylesheet" type="text/css" href="/css/vendor.css"> 
   <link rel="stylesheet" type="text/css" href="/css/main.css">  
   <link rel="stylesheet" type="text/css" href="/css/problem_add.css">

   <!-- script
   ================================================== -->
	<script src="/js/modernizr.js"></script>
	<script src="/js/pace.min.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
	<link rel="icon" href="/images/logo.png" type="image/x-icon">

    
</head>

<body >
    <a href="/admin">
        <img id ="back-btn" src="https://img.icons8.com/ios/50/FFFFFF/circled-left-2.png"/>
    </a>
    
    <div class="grid-content small content" id="add-problem-body">
       
        <div class="box" id="t-wrap">
            <div class="a-container">
                <div class="a-btn-active">
                    <a id="links" href="/admin/add" style="font-size: 15px;">ADD PROBLEM</a> 
                </div>
                <div class="a-btn">
                    <a id="links" href="/admin/new-contest" style="font-size: 15px;">HOST NEW CONTEST</a> 
                </div>
                <div class="a-btn">
                    <a id="links" href="/admin/my-contests" style="font-size: 15px;">SHOW/EDIT CONTESTS</a> 
                </div>
                <div class="a-btn">
                    <a id="links" href="/admin/manage-admins" style="font-size: 15px;">MANAGE ADMINS</a> 
                </div>
                
                
            </div>
            
            <div class="main-form">
                <h1 id="h" class="title center">Submit Question</h1>
            <hr>
            <h2 id="s" class="subtitle">Name <span style="color:red">*</span></h2>
            <textarea  class="textarea title" rows="1" id="QuesName"></textarea>

            <div class="form-group">
                <h2 id="s" class="subtitle">Visibility</h2>
                <select  class="form-control" id="isVisible">
                    <option value="true" selected>true</option>
                    <option value="false">false</option>
                </select>
            </div>

            <h2 id="s" class="subtitle">Description <span style="color:red">*</span></h2>
            <textarea  class="textarea" id="Description"></textarea>
            <h2 id="s" class="subtitle">Input Format</h2>
            <textarea  class="textarea" id="InputFormat"></textarea>
            <h2 id="s" class="subtitle">Output Format</h2>
            <textarea  class="textarea" id="OutputFormat"></textarea>
            <h2 id="s" class="subtitle">Constraints <span style="color:red">*</span></h2>
            <textarea  class="textarea" id="Constraints"></textarea>
            <h2 id="s" class="subtitle">Sample Input</h2>
            <textarea  class="textarea" id="SampleInput"></textarea>
            <h2 id="s" class="subtitle">Sample Output</h2>
            <textarea  class="textarea" id="SampleOutput"></textarea>
            <h2 id="s" class="subtitle">Explanation</h2>
            <textarea  class="textarea" id="Explanation"></textarea>
            <h2 id="s" class="subtitle">Difficulty</h2>
            <select class="state" id="DifficultyLevel">
                <option value="0">Beginner</option>
                <option value="1">Easy</option>
                <option value="2">Medium</option>
                <option value="3">Hard</option>
            </select>
            <!-- <textarea class="textarea" rows="1" id="DifficultyLevel"></textarea> -->
            <h2 id="s" class="subtitle">Problem Setter</h2>
            <textarea  class="textarea" rows="1" id="ProblemSetter" disabled><%=locals.user.name%></textarea>
            <h2 id="s" class="subtitle">Time Limit (seconds) <span style="color: red">*</span></h2>
            <input  type="number" min="1" class="textarea" rows="1" id="TimeLimit" value="1"></input>
            <h2 id="s" class="subtitle">Memory Limit (kB) <span style="color: red">*</span></h2>
            <input   type="number" min="1" class="textarea" rows="1" id="MemoryLimit" value="262144"></input>
            <h2 id="s" class="subtitle">Tags</h2>
            <textarea   class="textarea" rows="1" id="Tags"></textarea>
            <h2 id="s" class="subtitle">Editorial</h2>
            <textarea   class="textarea" rows="1" id="Editorial"></textarea>
            <hr>
            <h2 id="s" class="subtitle">Testcases <span style="color:red">*</span></h2>
            <!-- <a class="button is-success is-rounded" id="add">Add</a>
            <a class="button is-danger is-rounded" id="rem">Remove</a> -->
            <h4 style="color:antiquewhite"  class="">Add testcases through files</h4>
            <input type="file" id="Testcases" accept="text/plain" multiple="multiple" /><br><br>
            <h4 style="color:antiquewhite" class="">Add testcases through textbox</h4>
            
            <div class="btn-wrapper">
                <a class="button is-success is-rounded" id="add">Add</a>
                <a class="button is-danger is-rounded" id="rem">Remove</a> <br> <br>
            </div>
            
            <!-- <input type="file" id="testcases" /> -->
            <!-- <input type="submit" /> -->
            <div id="testcases"></div>
            <br>
            <button id="sub" class="button is-link submit">Submit</button>
            </div>
            
        </div>
    </div>
    
    <div id="preloader"> 
        <div id="loader"></div>
    </div> 



    <script
		  src="https://code.jquery.com/jquery-3.4.1.min.js"
		  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		  crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="/js/modals_change.js"></script>
		<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
		  <!-- Java Script
		   ================================================== --> 
		   <script src="/js/jquery-2.1.3.min.js"></script>
		   <script src="/js/plugins.js"></script>
		   <script src="/js/main.js"></script>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/problem_add.js" defer></script>

</html>