<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.segmnf.myapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".HistoryActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".AddContestActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".AddContestQuestionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".Fragments.SettingBottomSheetFragment"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".AddQuizQuestion"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".AddQuizActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".LearnJavascriptActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".LearnRubyActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".LearnCSharpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".LearnPyActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".LearnCActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".LearnCppActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".LearnJavaActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".QuizQuestionActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".ContestQuestionActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".ContestQuestionDetailActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".NewsDetailActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".NewsActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".UserDetailActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".GetStartedActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
    </application>

</manifest>